Flask==2.2.3
Werkzeug==2.2.3
requests-waze==0.3.1
SpeechRecognition==3.10.0
PyAudio==0.2.13
pyttsx3==2.90
scipy==1.11.3
numpy==1.24.3
google-generativeai==0.3.1
google-cloud-dialogflow==2.23.1
python-dotenv==1.0.0
Flask-SocketIO==5.3.6
eventlet==0.33.3
python-engineio==4.8.0
python-socketio==5.10.0
